.albums-section {
  max-width: 100%;
  margin: 100px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: var(--components);
}

.albums-label {
  flex-shrink: 0;
  width: auto;
  background-color: var(-brown-light);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.albums-label h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: var(--text-light);
  line-height: 1.1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 30px;
  padding-bottom: 0px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.58);
}

.albums-label p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-sub-light);
  line-height: 1.1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 30px;
  padding-top: 10px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.58);
}

.albums-label button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--text-light);
  line-height: 1.1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 30px;
  padding: 10px;
  background-color: var(--btn);
  height: 40px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border: 0px solid var(--cream);
}

.albums-label button:hover {
  background-color: var(--brown-dark);
}

.albums-container {
  flex: 1;
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
  margin: 10px;
}

.albums-track {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.albums-track::-webkit-scrollbar {
  display: none;
}

.albums-track {
  scrollbar-width: none;
}

.album-thumb {
  flex-shrink: 0;
  width: 250px;
  height: 350px;
  background-color: #ddd;
  border-radius: 10px;
}

.album-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.album-thumb:hover img {
  transform: scale(1.05);
}

.albums-arrow {
  background: var(--btn);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  color: var(--brown-dark);
  flex-shrink: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.albums-arrow img {
  width: 20px;
}

.albums-arrow:active {
  background: var(--brown-light);
}