.checkout-container {
  background-color: var(--components);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-sizing: border-box;
  min-width: 450px;
  width: 550px;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: 2px solid var(--text-dark);
}

.orders-grid {
  width: 90%;
  height: 230px;
  background-color: none;
  padding: 10px 0px;
  overflow-y: scroll;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  box-shadow: inset 0px 0px 10px var(--text-dark);
}

.orders-grid::-webkit-scrollbar {
  display: none;
}

.order-display {
  background-color: var(--cream);
  display: flex;
  align-items: center;
  margin: 15px 30px;
  position: relative;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-display img {
  margin: 10px 15px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.order-display h5 {
  margin: 0px
}

.order-display p {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin: 0px;
}

.note {
  color: rgba(226, 37, 37, 0.933);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .7em;
  margin: 5px 0px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.725);
}

.order-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  width: 80%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--cream);
}

.order-location p {
  margin: 5px;
  font-size: .8em;
}

.location {
  margin: 0px auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.landmark {
  margin: 0px auto;
}

.landmark textarea {
  width: 410px;
  height: 50px;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px;
}

select {
  width: 150px;
  height: 30px;
}

.location input {
  width: 240px;
  height: 30px;
  padding: 5px;
}

.order-pricing {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .8em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0px;
}

.order-pricing p {
  margin: 0px;
}

.total-shipping {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: var(--cream);
}


.total-price {
  background-color: var(--brown-light);
  padding: 8px 10px;
  border-radius: 5px;
  color: var(--text-light);
}

.below-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin: 20px 20px 40px 20px;
}

.below-btn button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
}

.confirm {
  color: var(--cream);
  background-color: rgb(10, 155, 10);
  border: 1px solid var(--text-dark);
}

.confirm:hover {
  background-color: rgb(8, 126, 8);
}

.cancel {
  color: var(--cream);
  background-color: rgb(170, 0, 0);
  border: 1px solid var(--text-dark);
}

.cancel:hover {
  background-color: rgb(144, 0, 0);
}

.checkoutSelect__control {
  display: flex !important;
  align-items: center !important;
  width: 150px;
  height: 30px !important;
  min-height: 30px !important;
  background: white;
  border: 1.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  color: #000000;
  outline: none;
  overflow: hidden;
}

.checkoutSelect__menu {
  color: black;
  font-size: .8em;
}

.checkoutSelect__value-container {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
  padding: 0 8px !important;
  margin: 0 !important;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
}

.checkoutSelect__placeholder,
.checkoutSelect__single-value {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  margin: 0 !important;
  padding: 0 !important;
  left: 8px !important;
}

.checkoutSelect__indicators-container {
  height: 30px !important;
  display: flex !important;
  align-items: center !important;
  color: black;
}

.checkoutSelect__indicator {
  padding: 4px !important;

}

.checkoutSelect__input-container {
  margin: 0 !important;
  padding: 0 !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
}