<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>product manager</title>
  <link rel="stylesheet" href="productManger.css">
</head>

<body>
  <div class="side-bar">
    <div class="logo"><img src="/images/business-logo.png" alt=""></div>
    <div class="product">
      <img src="/images/product-icon.png" alt="">
      <h4>Product Management</h4>
    </div>
    <div class="order">
      <img src="/images//order-icon.png" alt="">
      <h4>Order Manager</h4>
    </div>
    <div class="sales">
      <img src="/images/sales-report-icon.png" alt="">
      <h4>Sales Reports</h4>
    </div>
    <div class="user">
      <img src="/images/user-icon.png.png" alt="">
      <h4>User Logs</h4>
    </div>
    <div class="log-out">
      <img src="/images/log-out-icon.png" alt="">
      <h4>Log Out</h4>
    </div>
    <div class="footer-admin">
      <p>@IT ELECTIVE & ADVANCE DATABASE SYSTEM</p>
    </div>
  </div>

  <div class="main">
    <div class="header">
      <h3>PRODUCT MANAGEMENT</h3>
    </div>
    <div class="feature-data">
      <div class="feat"></div>
      <div class="feat"></div>
      <div class="feat"></div>
    </div>
    <div class="data-container">
      <table>
        <tr class="header">
          <th></th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Last Update</th>
          <th></th>
          <th></th>
        </tr>
        <tr class="row-odd">
          <td><img src="/images/cart-item.jpg" alt=""></td>
          <td>Product A</td>
          <td>150 Pesos</td>
          <td>10</td>
          <td>5/6/2026</td>
          <td><img src="/images/edit-icon.png" alt=""></td>
          <td><img src="/images/delete-icon.png" alt=""></td>
        </tr>
        <tr class="row-even">
          <td><img src="/images/cart-item.jpg" alt=""></td>
          <td>Product A</td>
          <td>150 Pesos</td>
          <td>10</td>
          <td>5/6/2026</td>
          <td><img src="" alt=""></td>
          <td><img src="" alt=""></td>
        </tr>
        <tr class="row-odd">
          <td><img src="/images/cart-item.jpg" alt=""></td>
          <td>Product A</td>
          <td>150 Pesos</td>
          <td>10</td>
          <td>5/6/2026</td>
          <td><img src="" alt=""></td>
          <td><img src="" alt=""></td>
        </tr>
        <tr class="row-even">
          <td><img src="/images/cart-item.jpg" alt=""></td>
          <td>Product A</td>
          <td>150 Pesos</td>
          <td>10</td>
          <td>5/6/2026</td>
          <td><img src="" alt=""></td>
          <td><img src="" alt=""></td>
        </tr>
      </table>
      <div class="button-container">
        <button></button>
      </div>
    </div>
  </div>
</body>

</html>