<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sidebar Admin</title>
  <link rel="stylesheet" href="sidebar.css">
</head>

<body>
  <div class="side-bar">
    <div class="logo"><img src="/images/business-logo.png" alt=""></div>
    <div class="product">
      <img src="/images/product-icon.png" alt="">
      <h4>Product Management</h4>
    </div>
    <div class="order">
      <img src="/images//order-icon.png" alt="">
      <h4>Order Manager</h4>
    </div>
    <div class="sales">
      <img src="/images/sales-report-icon.png" alt="">
      <h4>Sales Reports</h4>
    </div>
    <div class="user">
      <img src="/images/user-icon.png.png" alt="">
      <h4>User Logs</h4>
    </div>
    <div class="log-out">
      <img src="/images/log-out-icon.png" alt="">
      <h4>Log Out</h4>
    </div>
    <div class="footer-admin">
      <p>@IT ELECTIVE & ADVANCE DATABASE SYSTEM</p>
    </div>
  </div>
</body>

</html>