<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="cart.css">
</head>

<body>
  <div class="cart-container">
    <div class="title-exit-btn">
      <h2>BASKET ITEMS</h2>
      <button><img src="/images/hide-button.png" alt="" /></button>
    </div>
    <div class="items-container">
      <div class="items">
        <input class="checkbox" type="checkbox" />
        <div class="item-display">
          <img src="/images/cart-item.jpg" alt="" />
          <div class="item-infos">
            <h5>Croissant Filled With Chocolate Cream</h5>
            <p>8 Items Left</p>
            <h4>99 Pesos</h4>
          </div>
          <input type="number" min="1" max="999999" step="1" value="1" />
        </div>
        <button class="remove-btn"><img src="/images/remove.png" alt="" /></button>
      </div>
      <div class="items">
        <input class="checkbox" type="checkbox" />
        <div class="item-display">
          <img src="/images/cart-item.jpg" alt="" />
          <div class="item-infos">
            <h5>Croissant Filled With Chocolate Cream</h5>
            <p>8 Items Left</p>
            <h4>99 Pesos</h4>
          </div>
          <input type="number" min="1" max="999999" step="1" value="1" />
        </div>
        <button class="remove-btn"><img src="/images/remove.png" alt="" /></button>
      </div>
      <div class="items">
        <input class="checkbox" type="checkbox" />
        <div class="item-display">
          <img src="/images/cart-item.jpg" alt="" />
          <div class="item-infos">
            <h5>Croissant Filled With Chocolate Cream</h5>
            <p>8 Items Left</p>
            <h4>99 Pesos</h4>
          </div>
          <input type="number" min="1" max="999999" step="1" value="1" />
        </div>
        <button class="remove-btn"><img src="/images/remove.png" alt="" /></button>
      </div>
      <div class="items">
        <input class="checkbox" type="checkbox" />
        <div class="item-display">
          <img src="/images/cart-item.jpg" alt="" />
          <div class="item-infos">
            <h5>Croissant Filled With Chocolate Cream</h5>
            <p>8 Items Left</p>
            <h4>99 Pesos</h4>
          </div>
          <input type="number" min="1" max="999999" step="1" value="1" />
        </div>
        <button class="remove-btn"><img src="/images/remove.png" alt="" /></button>
      </div>
    </div>
    <div class="buttons-place">
      <button class="checkout">CHECKOUT</button>
      <button class="view">VIEW ALL ORDERS</button>
    </div>
  </div>
</body>

</html>