<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="checkout.css">
</head>

<body>
  <div class="checkout-container">
    <div class="orders-grid">
      <div class="order-display">
        <img src="/images/cart-item.jpg" alt="">
        <div class="order-info">
          <h5>Marcky Balaba</h5>
          <h5>1T Pesos</h5>
        </div>
        <p>Qty. 1</p>
      </div>
      <div class="order-display">
        <img src="/images/cart-item.jpg" alt="">
        <div class="order-info">
          <h5>Marcky Balaba</h5>
          <h5>1T Pesos</h5>
        </div>
        <p>Qty. 1</p>
      </div>
      <div class="order-display">
        <img src="/images/cart-item.jpg" alt="">
        <div class="order-info">
          <h5>Marcky Balaba</h5>
          <h5>1T Pesos</h5>
        </div>
        <p>Qty. 1</p>
      </div>
    </div>
    <h4 class="note">NOTE: ORDER CANCELATION IS ONLY AVAILABLE WHEN ORDER IS PENDING</h4>
    <div class="order-location">
      <p>Address</p>
      <div class="location">
        <select id="cars" name="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="fiat">Fiat</option>
          <option value="audi">Audi</option>
        </select>
        <input type="text" placeholder="Street">
      </div>
      <p>Landmark</p>
      <div class="landmark">
        <textarea name="" id=""></textarea>
      </div>
    </div>
    <div class="order-pricing">
      <div class="total-shipping">
        <p>PRODUCT TOTAL: 999 Pesos</p>
        <p>SHIPPING FEE: 50 Pesos</p>
      </div>
      <div class="total-price">
        <p>TOTAL 1049 Pesos</p>
      </div>
    </div>
    <div class="below-btn">
      <button class="confirm">CONFIRM ORDER</button>
      <button class="cancel">CANCEL</button>
    </div>
  </div>
</body>

</html>