<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="locations.css">
</head>

<body>
  <header class="nav-wrapper">
    <nav>
      <div class="logo-header-container">
        <img src="/images/business-logo.png" alt="Logo" />
      </div>

      <div class="nav-link-container">
        <a>Home</a>
        <a>Menu</a>
        <a>Talk to us</a>
        <a class="active">Locations</a>
      </div>

      <div class="nav-right-side">
        <div class="searching-container">
          <input type="text" placeholder="Search" />
          <button class="search-button">
            <img src="/images/search-icon.png" alt="Search" />
          </button>
        </div>

        <div class="menu">
          <button class="menu-button">
            <img src="/images/cart-icon.png" alt="Cart" />
          </button>
          <p>Basket</p>
        </div>

        <div class="profile">
          <button class="profile-button">
            <img src="/images/profile-icon.png" alt="Profile" />
          </button>
          <p>Profile</p>
        </div>
      </div>
    </nav>
  </header>
  <main class="main-body">
    <div class="locations-container">
      <div class="location">
        <img src="/images/feat-img-1.jpg" alt="">
        <p>Nightmarket Santiago, Santiago, Philippines, 3311</p>
      </div>
      <div class="location">
        <img src="/images/location-2.jpg" alt="">
        <p>342 Arranz Street, Dubinan West, Santiago, 3311 Isabela</p>
      </div>
      <div class="location">
        <img src="/images/location-3.jpg" alt="">
        <p>Location Name</p>
      </div>
    </div>
    <div class="right-part">
      <img class="image-loc" src="/images/main-location.png" alt="">
      <div class="image-overlay">
        Click To Look For Maps
      </div>
    </div>
  </main>
</body>

</html>