<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="menuBar.css">
</head>

<body>
  <header class="nav-wrapper">
    <nav>
      <div class="logo-header-container">
        <img src="/images/business-logo.png" alt="Logo" />
      </div>

      <div class="nav-link-container">
        <a class="active">Home</a>
        <a>Menu</a>
        <a>Talk to us</a>
        <a>Locations</a>
      </div>

      <div class="nav-right-side">
        <div class="searching-container">
          <input type="text" placeholder="Search" />
          <button class="search-button">
            <img src="/images/search-icon.png" alt="Search" />
          </button>
        </div>

        <div class="menu">
          <button class="menu-button">
            <img src="/images/cart-icon.png" alt="Cart" />
          </button>
          <p>Basket</p>
        </div>

        <div class="profile">
          <button class="profile-button">
            <img src="/images/profile-icon.png" alt="Profile" />
          </button>
          <p>Profile</p>
        </div>
      </div>
    </nav>
  </header>

  <!--REACT COPY-->
  <div class="menu-body">
    <div class="menu-left-sidebar">
      <div class="menu-wrapper">
        <div class="menu-heading">
          <h3>CHOOSE WITH YOUR HEART</h3>
        </div>
        <div class="menu-category">
          <p>MENU CATEGORY</p>
          <div class="radio-btn">
            <label for="radio"><input type="radio" name="tea" id="1"> Bread </label>
            <label for="radio"><input type="radio" name="coffee" id="2"> Coffee </label>
            <label for="radio"><input type="radio" name="bread" id="3"> Tea </label>
          </div>
        </div>
        <div class="menu-sorting">
          <p>Sort</p>
          <select name="sort-options" id=" sort-options">
            <option value="newest">Newest</option>
            <option value="alpabhetically">Name: A-Z</option>
            <option value="low_to_high">Price: Low - High</option>
            <option value="high_to_low">Price: High - low</option>
          </select>

          <p>Price Range</p>

          <div class="filter-row">

            <span class="price-label">$<span id="min-price-text">20</span></span>

            <div class="range-slider-container">
              <div class="slider-track"></div>
              <input type="range" min="0" max="100" value="20" id="min-price">
              <input type="range" min="0" max="100" value="80" id="max-price">
            </div>

            <span class="price-label">$<span id="max-price-text">80</span></span>
          </div>

        </div>
      </div>
    </div>
    <div class="menu-right-side">
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
      <div class="product-wrapper">
        <img class="product-image" src="/images/cart-item.jpg" alt="">
        <div class="product-details">
          <p>Product Name</p>
          <p class="price">100 Pesos</p>
        </div>
        <div class="btn-below">
          <button>Add to Basket</button>
          <input type="number">
        </div>
      </div>
    </div>
  </div>

  </div>
</body>

</html>