<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="product-detail.css">
</head>

<body>
  <header class="nav-wrapper">
    <nav>
      <nav>
        <div class="logo-header-container">
          <img src="/images/business-logo.png" alt="Logo" />
        </div>

        <div class="nav-link-container">
          <a class="active">Home</a>
          <a>Menu</a>
          <a>Talk to us</a>
          <a>Locations</a>
        </div>

        <div class="nav-right-side">
          <div class="searching-container">
            <input type="text" placeholder="Search" />
            <button class="search-button">
              <img src="/images/search-icon.png" alt="Search" />
            </button>
          </div>

          <div class="menu">
            <button class="menu-button">
              <img src="/images/cart-icon.png" alt="Cart" />
            </button>
            <p>Basket</p>
          </div>

          <div class="profile">
            <button class="profile-button">
              <img src="/images/profile-icon.png" alt="Profile" />
            </button>
            <p>Profile</p>
          </div>
        </div>
      </nav>
  </header>

  <!--REACT COPY-->
  <div class="product-sidebar">
    <div class="product-profile">
      <img src="/images/cart-item.jpg" alt="">
      <h3>Malungay w/ Cheese Pandesal</h3>
    </div>
    <div class="product-foot">
      <div class="product-ingredients">
        <p>Ingredients</p>
        <ul>
          <li>Bread Flour</li>
          <li>Salt</li>
          <li>Active Dry Yeast</li>
          <li>Lukewarm Water</li>
        </ul>
      </div>
      <div class="btn-addcart">
        <button> ADD TO BASKET</button>
        <input type="number">
      </div>
    </div>
  </div>
</body>

</html>