:root {
  --background: #F8E9D3;
  --left-background: #B07A3B;
  --right-background: #CE9A56;
  --light-background: #B5814B;
  --components: #5D4122;
  --btn: #835126;
  --btn-hover: #835126b5;
  --text-dark: #3E1A00;
  --text-light: #e8e0c8;
  --text-sub-light: #D2A26A;
  --brown-dark: #6B3800;
  --brown-light: #A85C00;
  --cream: #e8e0c8;
  --white: #ffffff;
  --star: #F0B429;
}

body,
html {
  margin: 0px;
  padding: 0px;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}